HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

.vscode/

/docker/ArticleTracker/at.jar

# Track only jobs configuration from jenkins container
/docker/jenkins/jenkins_home/*
!/docker/jenkins/jenkins_home/jobs/
/docker/jenkins/jenkins_home/jobs/*
!/docker/jenkins/jenkins_home/jobs/*/
/docker/jenkins/jenkins_home/jobs/*/**
!/docker/jenkins/jenkins_home/jobs/*/**/config.xml

/docker/sonarqube/
/docker/db/mysql_data/
